@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.875rem;
  background-image: radial-gradient(circle at top center, white, #f1f5f9); // f1f5f9
  background-color: #f1f5f9;
}

.p-tooltip {
  .p-tooltip-text {
    @apply bg-black;
    @apply text-gray-100;
  }

  &.p-tooltip-top {
    @apply -translate-y-3;
  }
  &.p-tooltip-left {
    @apply -translate-x-3;
  }
  &.p-tooltip-bottom {
    @apply translate-y-3;
  }
  &.p-tooltip-right {
    @apply translate-x-3;
  }
}

.p-tooltip-top {
  .p-tooltip-arrow {
    border-top-color: #000000 !important;
  }
}

.p-tooltip-left {
  .p-tooltip-arrow {
    border-left-color: #000000 !important;
  }
}

.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-bottom-color: #000000 !important;
  }
}

.p-tooltip-right {
  .p-tooltip-arrow {
    border-right-color: #000000 !important;
  }
}

// DataTable

.p-datatable-tbody > tr > td {
  padding: 0.325rem 0.5rem !important;
}
